<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/output.css">
    <link rel="stylesheet" href="./call.css">
    <title>Content Page</title>
</head>
<script>
    const ROOM_ID = "<%=roomId%>"
    const username = "<%=username%>"
    const isAdmin = "<%=isAdmin%>"
</script>
<script defer src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/scripts/script.js" defer></script>
<script src="https://kit.fontawesome.com/94d618afb0.js" crossorigin="anonymous"></script>

<body class="bg-zinc-900">
    <div class="main__container flex align-center justify-between p-5">
        <div id="white-board" class="rounded-md flex justify-center items-center flex-wrap gap-2 z-0"><canvas
                id="canvas" height="500" width="500"></canvas>
            <div id=colors-cont>
                <div id="clear-board" onclick="clearBoard()" class="board-icons"><i class="fas fa-trash-alt"></i></div>
                <div id="eraser" onclick="setEraser()" class="board-icons"><i class="fas fa-eraser"></i></div>
                <div id="black" onclick="setColor('black')" class="board-icons"></div>
                <div id="red" onclick="setColor('#e74c3c')" class="board-icons"></div>
                <div id="yellow" onclick="setColor('#f1c40f')" class="board-icons"></div>
                <div id="green" onclick="setColor('#badc58')" class="board-icons"></div>
                <div id="blue" onclick="setColor('#3498db')" class="board-icons"></div>
                <div id="orange" onclick="setColor('#e67e22')" class="board-icons"></div>
                <div id="purple" onclick="setColor('#9b59b6')" class="board-icons"></div>
                <div id="pink" onclick="setColor('#fd79a8')" class="board-icons"></div>
                <div id="brown" onclick="setColor('#834c32')" class="board-icons"></div>
                <div id="grey" onclick="setColor('gray')" class="board-icons"></div>
            </div>
        </div>
        <div id="video-grid" class="rounded-md flex justify-center items-center flex-wrap gap-2 z-10"></div>
        <div id="chat-section" class="rounded-md bg-slate-100 text-sm flex flex-col justify-between relative">
            <h2 class="p-5 font-semibold text-xl text-gray-500">Group Chat</h2>
            <div class="chats m-3 h-4/5">
                <ul class="flex flex-col" id="msg-list">
                    <li class="chat-message user-message hidden">
                        <h2 class="chat-sender font-bold">user</h2>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda nobis eaque delectus earum
                        eius cumque eos nihil. Alias, ratione reprehenderit!
                    </li>
                </ul>
            </div>
            <div class="p-3 flex items-center space-between gap-1">
                <textarea placeholder="Enter your message here" rows="1"
                    class="block rounded-full px-8 py-3 outline-none w-full border-zinc-900 bg-gray-300"
                    oninput='this.style.height = "";this.style.height = (this.scrollHeight + 2) + "px"'></textarea>
                <button><i class="fa-solid fa-paper-plane send-button"></i></button>
            </div>
        </div>
        <div id="participant-section" class="rounded-md bg-slate-100 flex flex-col">
            <h2 class="p-5 font-semibold text-xl text-gray-500 shadow-sm">Participants</h2>
            <div class="participants">
                <ul id="participant__list" class="text-xl bg-slate-50 overflow-auto">
                    <li class="px-5 py-2 flex items-center shadow-sm"><i class="fa-solid fa-user"></i><span
                            class="text-base ml-5">username
                        </span><button class="ml-auto rounded-full px-5 py-2 hover:bg-slate-100 transition-all"
                            style="border-radius:50%;"><i class="fa-solid fa-ellipsis-vertical ml-auto"></i></button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="information-section" class="rounded-md bg-slate-100 text-sm flex flex-col ">
            <h2 class="p-5 font-semibold text-xl text-gray-500">Meeting details</h2>
            <div class="meeting-info p-5 bg-white rounded-md">
                <div class="font-semibold">Meeting link</div>
                <div id="meeting-link" class="text-gray-600 py-2">
                    http://localhost:3000/<%=roomId%>
                </div>
                <button id="copy-btn">
                    <div
                        class="mt-4 text-md text-sky-500 font-semibold hover:shadow-[0_0_81px_0_rgba(0,0,0,0.3)] py-4 px-2 rounded-md transition-all">
                        <span id="tooltip-text"
                            class='absolute z-50 rounded shadow-lg p-1 bg-black -mt-9 text-white font-normal'>
                            Meeting link copied</span>
                        <span class="mr-3"><i class="fa-solid fa-copy"></i></span> Copy
                        Meeting
                        link
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="control__section w-full p-2 fixed bottom-0 mb-3 text-white flex text-sm justify-between ">
        <div class="meeting_details">
            <span id="time" class="date ml-1 mr-3 border-r-2 border-white pr-5">
                00:00 AM
            </span>
            <span class="meeting_id m-3">
                <%=roomId%>
            </span>
        </div>
        <div class="icon_list mr-20">
            <span class="icon btn-icon-disable" id="audioSpan"><button id="audioToggle"><i
                        class="fa-solid fa-microphone-slash"></i></button></span>
            <span class="icon btn-icon" id="videoSpan"><button id="videoToggle"><i
                        class="fa-solid fa-video"></i></button></span>
            <span class="icon btn-icon" id="videoRecordSpan"><button id="recordToggle"><i
                        class="fa-solid fa-clapperboard"></i></button></span>
            <span class="icon btn-icon" id="screenSpan"><button id="screenShare"><i
                        class="fa-solid fa-display"></i></button></span>
            <span class="icon btn-icon rounded-full  bg-red-600 hover:bg-red-700 transition-all"><a
                    href="/close"><button id="closeCall"><i class="fa-solid fa-phone"></i></button></a></span>
            <span class="icon btn-icon" id="boardSpan"><button id="boardToggle"><i
                        class="fa-solid fa-chalkboard"></i></button></span>
        </div>
        <div class="control_icons">
            <span id="btn-chats" class="icon control-icon rounded-full"><button><i
                        class="fa-solid fa-comment"></i></button></span>
            <span id="btn-users" class="icon control-icon rounded-full"><button><i
                        class="fa-solid fa-users"></i></button></span>
            <span id="btn-information" class="icon control-icon mr-0 rounded-full"><button><i
                        class="fa-solid fa-circle-info"></i></button></span>
        </div>
    </div>
</body>
<script>
    const time = document.getElementById('time');
    setInterval(() => {
        const date = new Date();

        const hours = date.getHours() % 12 ? date.getHours() % 12 : 12;
        let minutes = date.getMinutes();
        const ampm = (date.getHours()) >= 12 ? 'PM' : 'AM';
        minutes = minutes < 10 ? '0' + minutes : minutes;
        const strTime = hours + ':' + minutes + ' ' + ampm + ' ';
        time.innerHTML = strTime;
    }, 1000)

</script>
<script src="/scripts/test.js"></script>

</html>